<!DOCTYPE html>
<html>
<head>
    <title>Contact Manager</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <h1>Contact Manager</h1>
        <a href="/contacts" class="manage">Manage Contacts</a>
    </div>
</body>
</html>
